/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.prev_img {
  height: 25%;
  width: 25%;
  margin-top: 10px;
  object-fit: contain;
}
.error-message {
  color: red;
}

.login-flash-message {
  color: red;
}

/* メイン */

.greeting{
  font-size: 20px;
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}

.greeting__link{
  padding: 5px;
  color: #87CEFA;
  text-decoration: underline;
  border-radius: 3px;
  transition: 0.4s ease;
}
.greeting__link:hover{
  color: #fff;
  background: #87CEFA;
}

.title{
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.category-cards .card {
  width: calc((100% - 50px) / 6);
  margin-bottom: 40px;
}

/* カテゴリマッチページ */
.match__item {
  width: 100%;
}

.categories .card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.categories .card {
  width: 50%;
  margin-bottom: 20px;
}
.categories .card__img {
  margin-bottom: 16px;
}
.categories .card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.categories .card__summary {
  font-size: 16px;
}
.categories .card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.match__no__item {
  font-size: 20px;
}

/* 詳細ページ */
.item__wrapper{
  min-height: calc(100vh - 161px);
  margin-bottom: 30px;
  padding-top: 20px;
  border: 1px #eee solid;
}
.item__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.item__user{
  display: block;
  text-decoration: underline;
  font-size: 14px;
}
.item__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.item__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.detail__message{
  width: 80%;
  margin: 5px 200px;
  padding: 5px 10px;
  align-items: left;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
.item__manage{
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px;
}
.item__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 14px;
  color: #fff;
  background-color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.item__btn:hover{
  color: #87CEFA;
  background: #fff;
  border: 1px #87CEFA solid;
}

.detail-table {
  margin: 10px 0px 20px;
  width: 80%;
  max-width: 500px;
  border-collapse: collapse;
  border: 2px solid #dedede;
}
.detail-item {
  width: 35%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
.detail-value {
  width: 65%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.change_item_btn {
  font-size: 30px;
  text-decoration: none;
  color: #87CEFA;
  font-weight: bold;
  font-size: 20px;
}
.another_item {
  display: block;
  margin: 20px 0px 20px;
  color: #87CEFA;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.item__comments{
  background-color: #f6f6f6;
  width: 100%;
  padding: 10px 20px 20px 20px;
  margin: 20px 0 40px 0;
  text-align: center;
}
.comment_text {
  width: 80%;
  min-width: 250px;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}
.comment-warn {
  padding: 10px;
  font-size: 11px;
  margin: 10px 0px;
}
.comment_btn {
  width: 30%;
  min-width: 150px;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 100px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.comment_btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.comment_title{
  font-size: 20px;
  font-weight: bold;
}
.comments_lists{
  background-color: #f7fafc;
  width: 100%;
  margin-top: 10px;
  padding-left: 40px;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}
.comments_list{
  width: 95%;
  padding-bottom: 5px;
  text-align: left;
  list-style-type: disc;
  word-wrap: break-word;
  border-bottom: 1px #eee solid;
}
.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
  margin-left: 10px;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/* 購入ページ */
.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 1px #eee solid;
  margin: 0 100px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 150px;
  border-bottom: 1px #eee solid;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 20px;
  height: 130px;
  width: 250px;
  object-fit: contain;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 20px;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 10px;
}

.item-price-text {
  font-size: 15px;
}

.item-price-sub-text {
  font-size: 12px;
}

/* 支払額の表示 */
.item-payment {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px #eee solid;
  margin: 0 100px;
  font-weight: bold;
}

.item-payment-title {
  font-size: 20px;
}

.item-payment-price {
  font-size: 25px;
}

/* カード情報の入力 */
.credit-card-form {
  border-bottom: 1px #eee solid;
  margin: 15px 100px 0;
  padding-bottom: 30px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.input-card-number {
  width: 26%;
}

.available-card {
  display: flex;
  height: 35px;
}

.card-logo {
  width: 40px;
  margin: 5px 5px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 36px;
}

.input-expiration-date {
  width: 10%;
  margin-top: 5px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.input-cvc {
  width: 26%;
}

/* 配送先の入力 */
.shipping-address-form {
  margin: 15px 100px 0;
}

.input-address {
  width: 26%;
}

.buy-btn {
  width: 30%;
  margin: 30px auto 50px;
}

.buy-blue-btn {
  width: 100%;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 100px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  transition: 0.2s ease;
}

.buy-blue-btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .category-cards .card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 161px);
  }  
  .category-cards .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .categories .card {
    width: 80%;
    margin-bottom: 10px;
  }
  .match__no__item {
    font-size: 24px;
  }
  .item_image{
    width: 60%;
  }
  .form__text {
    width: 60%;
  }
  .prev_img {
    height: 50%;
    width: 50%;
    margin-top: 10px;
    object-fit: contain;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__explanation {
    font-size: 14px;
  }
  .category-cards .card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 161px);
  }  
  .category-cards .card {
    width: 80%;
    margin-bottom: 60px;
  }
  .categories .card {
    width: 80%;
    margin-bottom: 20px;
  }
  .match__no__item {
    font-size: 14px;
  }
  .item_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }

  .form__text {
    width: 95%;
  }  
  .prev_img {
    height: 80%;
    width: 80%;
    margin-top: 10px;
    object-fit: contain;
  }
}